.container {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navigation {
  display: flex;
  justify-content: space-around;
  font-family: var(--san-font);
  margin: 20px 0px;
}

.navigation a {
  text-decoration: none;
  color: #968F89;
}

.navigation a:active {
  text-decoration: none;
}


.card {
  height: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#index { background-color: #FFF6EE; }
#verbs { background-color: #ffe5e3; }
#nouns { background-color: #eef2ff; }

.word {
  font-size: 7rem;
  margin-bottom: 5%;
}

.franco {
  font-size: 2rem;
  color: #968F89;
  letter-spacing: 3px;
  font-family: var(--san-font);
  /* text-transform: lowercase; */
}

@media (max-width: 700px) {
  .word,
  .franco {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently */
  }
}